@font-face {
  font-family: Heavitas;
  src: url(../assets/fonts/heavitas.woff) format('woff');
}
body {
  font-family: 'Open Sans', sans-serif;
}
html {
  box-sizing: border-box;
  font-size: 16px;
  // Magic:
  @media (max-width: 1000px) {
    font-size: calc(12px + .4vw);
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

h1 {
  font-family: Heavitas, 'Arial Black', Helvetica, sans-serif;
  color: #424242;
  font-size: 45px;
  line-height: 45px;
  font-weight: normal;
}
.md-subheading {
  font-weight: bold;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 20px;
}
p {
  &.text {
    margin-top: 10px;
    font-size: 18px;
    line-height: 25px;
    color: #424242;
  }
}
@media (min-width: 600px) and (max-width: 960px) {
  h1 {
    font-size: 45px;
    line-height: 55px;
  }
}
@media (min-width: 960px) and (max-width: 1280px){
  h1 {
    font-size: 55px;
    line-height: 65px;
  }
  p {
    &.text {
      font-size: 20px;
      line-height: 25px;
    }
  }
}
@media (min-width: 1280px) {
  h1 {
    font-size: 60px;
    line-height: 75px;
  }
}



h2 {
  text-transform: uppercase;
  font-family: Heavitas, 'Arial Black', Helvetica, sans-serif;
}
.bold {
  font-weight: 700;
}
.fp-controlArrow {
  border-color: black;
  padding: 10px;
  top: 42%;
  &.fp-prev {
    border-width: 0 3px 3px 0;
    border-color: $primary;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }
  &.fp-next {
    border-width: 0 3px 3px 0;
    border-color: $primary;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
}
button {
  &.forward {
    .md-button-content {
      font-family: 'Open Sans', sans-serif;
      font-size: 1.2rem;
      &:after {
        content: ' \2192';
        font-family: Arial, Helvetica, sans-serif;
      }
    }
  }
}
.md-subheading {
  font-family: 'Open Sans', sans-serif;
}
.md-menu-content.md-select-menu {
  z-index:9999;
}
