@font-face {
  font-family: Heavitas;
  src: url(../assets/fonts/heavitas.woff) format('woff');
}
body {
  font-family: 'Open Sans', sans-serif;
}
html {
  box-sizing: border-box;
  font-size: 16px;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

h1 {
  font-family: Heavitas, 'Arial Black', Helvetica, sans-serif;
  color: #424242;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  margin-bottom: 20px;
}
h2 {
  color: #b13030;
  font-size: 15px;
  line-height: 10px;
  text-transform: uppercase;
  font-weight: normal;
  font-family: Heavitas, 'Arial Black', Helvetica, sans-serif;
  margin-bottom: 10px;
}
.md-button {
  &.big {
    height: 30px;
    .md-ripple {
      padding: 0 5px;
    }
  }
}
p {
  &.text {
    font-size: 15px;
    line-height: 15px;
    color: #424242;
    margin-bottom: 10px;
    padding: 0 30px;
  }
}
.bold {
  font-weight: 700;
}
.fp-controlArrow {
  border-color: black;
  padding: 10px;
  top: 50%;
  &.fp-prev {
    border-width: 0 3px 3px 0;
    border-color: $primary;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }
  &.fp-next {
    border-width: 0 3px 3px 0;
    border-color: $primary;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
}

@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: rotate(45deg) translateY(0);
    -ms-transform: rotate(45deg) translateY(0);
    -webkit-transform: rotate(45deg) translateY(0);
    transform: rotate(45deg) translateY(0);
  }
  40% {
    -moz-transform: rotate(45deg) translateY(-20px) translateX(-20px);
    -ms-transform: rotate(45deg) translateY(-20px) translateX(-20px);
    -webkit-transform: rotate(45deg) translateY(-20px) translateX(-20px);
    transform: rotate(45deg) translateY(-20px) translateX(-20px);
  }
  60% {
    -moz-transform: rotate(45deg) translateY(-10px) translateX(-10px);
    -ms-transform: rotate(45deg) translateY(-10px) translateX(-10px);
    -webkit-transform: rotate(45deg) translateY(-10px) translateX(-10px);
    transform: rotate(45deg) translateY(-10px) translateX(-10px);
  }
}

.arrow {
  position: absolute;
  border-color: black;
  padding: 10px;
  bottom: 20px;
  z-index: 4;
  width: 0;
  height: 0;
  border-style: solid;
  margin-top: -38px;
  left: 50%;
  &.down {
    border-width: 0 3px 3px 0;
    border-color: $primary;
  }
  &.bounce {
    -moz-animation: bounce 3s infinite;
	  -webkit-animation: bounce 3s infinite;
	  animation: bounce 3s infinite;
  }
}


button {
  &.forward {
    .md-button-content {
      font-family: 'Open Sans', sans-serif;
      &:after {
        content: ' \2192';
        font-family: Arial, Helvetica, sans-serif;
      }
    }
  }
}

.md-menu-content.md-select-menu {
  z-index:9999;
}


@media (min-width: 600px) and (max-width: 960px) {
  h1 {
    font-size: 35px;
    line-height: 45px;
  }
}
@media (min-width: 960px) and (max-width: 1280px){
  h1 {
    font-size: 55px;
    line-height: 65px;
  }
  p {
    &.text {
      font-size: 20px;
      line-height: 25px;
    }
  }
}
@media (min-width: 1280px) {
  h1 {
    font-size: 60px;
    line-height: 75px;
  }
}
